[submodule "HomeAssistantTimeMachineBeta"]
	path = HomeAssistantTimeMachineBeta
	url = https://github.com/saihgupr/HomeAssistantTimeMachineBeta
[submodule "HomeAssistantTimeMachine"]
	path = HomeAssistantTimeMachine
	url = https://github.com/saihgupr/HomeAssistantTimeMachine
[submodule "addons/HomeAssistantVersionControlBeta"]
	path = addons/HomeAssistantVersionControlBeta
	url = https://github.com/saihgupr/HomeAssistantVersionControlBeta
[submodule "HomeAssistantVersionControlBeta"]
	path = HomeAssistantVersionControlBeta
	url = https://github.com/saihgupr/HomeAssistantVersionControlBeta
