[submodule "HomeAssistantTimeMachine"]
	path = HomeAssistantTimeMachine
	url = https://github.com/saihgupr/HomeAssistantTimeMachine.git
	branch = develop
[submodule "HomeAssistantVersionControl"]
	path = HomeAssistantVersionControl
	url = https://github.com/saihgupr/HomeAssistantVersionControl.git
	branch = develop
